Django==4.0.2
Pillow==9.0.1
SecretStorage==3.3.1
argparse==1.4.0
chardet==4.0.0
colorama==0.4.4
configobj==5.0.6
decorator==5.1.1
html5lib==1.1
httplib2==0.20.2
ipython==8.2.0
keyring==23.4.0
launchpadlib==1.10.15.1
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
lpthw.web==1.1
matplotlib==3.5.1
numpy==1.22.3
oauth==1.0.1
paramiko==2.10.3
pexpect==4.8.0
pycrypto==2.6.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.0
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
stevedore==3.5.0
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.6
wheel==0.37.1
zope.interface==5.4.0
