Django==2.1.9
Pillow==6.1.0
SecretStorage==3.1.1
argparse==1.4.0
chardet==3.0.4
colorama==0.4.1
configobj==5.0.6
decorator==4.4.0
html5lib==1.0.1
httplib2==0.12.1
ipython==7.3.0
keyring==18.0.1
launchpadlib==1.10.7
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
lpthw.web==1.1
matplotlib==3.0.3
numpy==1.16.2
oauth==1.0.1
paramiko==2.6.0
pexpect==4.7.0
pycrypto==2.6.1
pyparsing==2.4.1.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
scipy==1.3.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.12.0
stevedore==1.30.1
urllib3==1.25.3
virtualenv==16.4.3
virtualenv-clone==0.5.2
virtualenvwrapper==4.8.4
wadllib==1.3.3
wheel==0.33.3
zope.interface==4.6.0
